@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Roboto+Slab&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.header > .container{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.header h1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
}

.header a {
  color: black;
}

.header .menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .menu a {
  padding: 1rem 0;
  color: #191919;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  transition: .2s;
}

.header .menu a:hover {
  color: black;
}

.header .profile-pic {
  width: 80px;
  height: 80px;
  background-color: lightgrey;
  border-radius: 50%;
  background-image: url("../assets/profile.jpg");
  background-size: cover;
  background-position: center;
}

.posts {
  display: grid;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.post {
  line-height: 1.3;
}

.post .author {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post .author::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: black;
}

.post .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 10px;
  color: #191919;
}

.post .subheading {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #666;
  margin-top: 5px;
}

.post .date {
  display: block;
  font-size: .875rem;
  font-family: 'Poppins';
  font-weight: 700;
  color: #666;
  margin-top: 15px;
}

.post > a:hover .title {
  color: black;
}

.btn {
  color: white;
  padding: .6rem 1.2rem;
  transition: .2s;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #191919;
  border-radius: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
}

/* admin - index */

.posts-header {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  padding-top: 20px;
}

.posts-header h1 {
  font-size: 1.5rem;
  line-height: 1;
}

.admin.posts {
  padding-top: 20px;
}

.post > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post .delete {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  gap: 5px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: .2s;
}

.post .delete:hover {
  color: red;
}

/* admin - editor */

.editor {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-items: end;
}

.editor #title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  padding: .5rem 1rem;
}

.editor #subheading {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: .5rem 1rem;
}

.editor #content {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 1rem;
  padding: .5rem 1rem;
  resize: none;
  min-height: 100%;
  flex: 1;
}


.editor .btn {
  margin-bottom: .5rem;
  margin: 0 0 .5rem auto;
}

/* single post */

.single-post {
  line-height: 1.3;
  padding: 2.5rem;
}

.single-post header > div{
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-post h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: black;
}

.single-post h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #666;
  margin-top: 10px;
}

.single-post .content {
  margin-top: 2.5rem;
  display: grid;
  gap: 1rem;
  font-family: 'Roboto Slab';
  line-height: 1.5;
  font-size: 1.1rem;
}

.single-post h3, .single-post h4 {
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
}

.single-post a {
  color: blue;
}

.single-post code {
  font-family: monospace;
  background-color: #191919;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}